.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


.remove{
  margin-left: 5px;
  color : red;
}
.edit{
  margin-left: 5px;
  color : grey;
  display: block;
  float: right;
}

.todo-item{
  clear: both;
  margin-bottom: 10px;
  text-align: left;

}

.edit-section{
  text-align: right;
}
